:host {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input::placeholder {
  color: #999;
  font-style: italic;
}

input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.input-group {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.currency-input {
  padding-left: 20px !important;
}

.currency-symbol {
  position: absolute;
  left: 6px;
  top: 68%;
  font-size: 16px;
  transform: translateY(-50%);
  color: #333;
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-group label {
  color: #333;
}

.input-group input {
  background-color: #f9f9f9;
}

.input-group {
  margin-left: 20px;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  color: #333;
}

.input-group select {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition:
    border-color 0.3s,
    background-color 0.3s,
    color 0.3s;
}

.input-group select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

button {
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

button:hover {
  background-color: #e0e0e0;
}

button:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}
